.container {
  padding: 0 2rem;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  margin-top: 2rem;
}

.form input {
  padding: 0.5rem;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-width: 1px;
  border-color: transparent;
  background-color: #eaeaea;
}

.form button {
  background-color: #f35100;
  box-shadow: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.form button:active {
  background-color: #f351008a;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #f35100;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.answer {
  margin-top: 2rem;
}
